body {
	background-color: #f1f2f1;
}
#header {
	float: right;
	font-size: 28px;
	font-family: "Source Sans Pro", "Oxygen", "Cantarell", sans-serif;	
	border-bottom: 1px solid black;	
}

#pageTitle {
	position: absolute;
	font-family: "Source Sans Pro", "Oxygen", "Cantarell", sans-serif;
	top: 15%;
	left: 45%;
	font-size: 28px;	
}
#pagediv {
	width: 400px;
	position: absolute;
	box-shadow: 3px 3px 6px lightgray;
	top: 30%;
	left: 35%;	
	background-color: white;	
	max-height: 450px; 	
	padding: 50px;
	font-family: "Source Sans Pro", "Oxygen", "Cantarell", sans-serif;
}

form {
	text-align: center;	
}
#email, #password {
	margin: 10px 10px 10px 10px;
}
#submit {
	width: 45px;
	height: 25px;
	padding: 1px;
	text-align: center;
	border: lightgray;	
	font-family: "Source Sans Pro", "Oxygen", "Cantarell", sans-serif;
}

#errorlabel {
	color: white;
	margin: 10px 10px 10px 10px;
}
